body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/****** About Section ******/
.line-dot {
  display: inline;
}

.line {
  border: 1px solid #f0836d;
  margin: 0 -0.5rem 0.25rem 0;
  display: inline-block;
  width: 3rem;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f0836d;
  display: inline-block;
  margin: 0 0.2rem 0 0;
}
.about-me {
  line-height: 1.4rem;
  display: inline;
}
